body {
    font-family: 'Noto Sans KR', sans-serif;
}

.semi-gray {
    background-color: rgb(40, 45, 49) !important;
}

.semi-gray-text {
    color: rgb(40, 45, 49) !important;
}

a {
    text-decoration: none;
    color:#000;
}

.nav-link {
    padding: 0.5rem !important
}